footer {
    background-color: rgba(0, 0, 0, 0.589);
    bottom: 0;
    box-shadow: 0px -10px 5px rgba(0, 0, 0, 0.6);
    /* display: inline-block; */
    font-family: "Oswald", sans;
    left: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    z-index: 2;
  }
  .footer-inner {
    color: #fff;
    padding: 15px;
  }