@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,400,700");

html,
body {
  background-color: #666;
  font-family: "Oswald", sans;
  margin: 0%;
}
#content {
  min-height: 20vh;
}
/* buttons */
#delBtn {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.25rem;
  padding: 11px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
#delBtn-primary {
  background-color: #000;
  border-color: #666;
  color: #fff;
}
#delBtn:hover {
  background-color: #333;
  border-color: #666;
  color: #fff;
}
#subBtn {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.25rem;
  margin: auto;
  padding: 11px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  user-select: none;
  vertical-align: middle;
  width: 25%;
  white-space: nowrap;
}
#subBtn-primary {
  background-color: #000;
  border-color: #666;
  color: #fff;
}
#subBtn:hover {
  background-color: #333;
  border-color: #666;
  color: #fff;
}
/* form */
form {
  margin: auto;
  padding: 10px;
  width: 75%;
}
input[type="text"],
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: auto;
  padding: 12px 20px;
  text-align: center;
  width: 25%;
}
/* display */
#contacts {
  background-color: #ccc;
  border: 1.5px solid #666;
  color: #000;
  font-size: 16px;
  margin: 0.3px;
  padding: 10px;
  position: relative;
  text-align: center;
}
/* @media (min-width: 576px){
  .container {
  max-width: 540px;
}}

@media (min-width: 768px){
  .container {
  max-width: 720px;
}}

@media (min-width: 992px){
  .container {
  max-width: 960px;
}}

@media (min-width: 1200px){
  .container {
  max-width: 1040px;
}}

@media (max-width: 576px) {
  .container {
      max-width: 90vw;
  }
} */